.app-header {
  align-items: center;
  background-color: #1f7a45e3;
  color: whitesmoke;
  font-weight: 600;

  .header-container {
    display: flex;
    justify-content: space-between;
    text-align: center;

    nav {
      display: flex;
      justify-content: space-between;
      text-align: center;
      gap: 30px;

      span,
      a {
        transition: 0.15s;
        cursor: pointer;

        &:hover {
          text-decoration: none;
          color: rgb(253, 255, 163);
        }
      }

      .active {
        color: rgb(253, 255, 109);
      }
    }
  }
}
